@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: "Barlow", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
header {
    width: 100vw;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10.6vh;
    nav {
        width: 85vw;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: space-between;
        align-items: center ;
        .header_block1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.53vw;
            p {
                font-size: 1.25rem;
                font-weight: 600;
                color: #ffffff;
                font-family: "Barlow", sans-serif;
                font-style: normal;
            }
        }
        .header_block2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2.2vw;
            p {
                font-size: 1.13rem;
                font-weight: 500;
                color: #E6E6E6;
                font-family: "Barlow", sans-serif;
                font-style: normal;
            }
        }
        .header_block3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            button {
                font-size: 1.13rem;
                font-weight: 500;
                font-family: "Barlow", sans-serif;
                font-style: normal;
                width: 7vw;
                height: 6.25vh;
                border-radius: 8px;
                background-color: #9EFF00;
                border: none;
                cursor: pointer;
            }
        }
    }
}
.sect2 {
    width: 100vw;
    height: 90vh;
    background-color: #1A1A1A;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    .sect2_all {
        width: 85vw;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}