@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

header {
  width: 100vw;
  background-color: #1A1A1A;
  border: 1px solid #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.6vh;
}
header nav {
  width: 78.2vw;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
}
header nav .header_block1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.53vw;
}
header nav .header_block1 p {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}
header nav .header_block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.2vw;
}
header nav .header_block2 p {
  font-size: 1.13rem;
  font-weight: 500;
  color: #E6E6E6;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}
header nav .header_block3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav .header_block3 button {
  font-size: 1.13rem;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  width: 7vw;
  height: 6.25vh;
  border-radius: 8px;
  background-color: #9EFF00;
  border: none;
  cursor: pointer;
}

.sect2 {
  width: 100vw;
  height: 79vh;
  background-color: #1A1A1A;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/Hero\ Section.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.sect2 .sect2_all {
  gap: 6vh;
  width: 85vw;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect2 .sect2_all .sect2_block1 {
  font-size: 4.25rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  width: 50%;
  text-align: center;
}
.sect2 .sect2_all .sect2_block2_all {
  width: 45vw;
  height: 10.4vh;
  background-color: rgba(36, 36, 36, 0.2);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px rgb(38, 38, 38) solid;
}
.sect2 .sect2_all .sect2_block2_all .sect2_block2_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3vw;
}
.sect2 .sect2_all .sect2_block2_all .sect2_block2_text .sect2_block2_text1 {
  color: #98989A;
  font-size: 1.375rem;
  font-family: "Barlow", sans-serif;
}
.sect2 .sect2_all .sect2_block2_all .sect2_block2_text .sect2_block2_text2 {
  font-size: 1.375rem;
  font-family: "Barlow", sans-serif;
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 6vw;
  height: 5vh;
}
.sect2 .sect2_all .sect2_block2_all .sect2_block2_text .sect2_block2_text3 {
  font-size: 1.375rem;
  font-family: "Barlow", sans-serif;
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 11vw;
  height: 5vh;
}
.sect2 .sect2_all .sect2_block2_all .sect2_block2_text .sect2_block2_text4 {
  font-size: 1.375rem;
  font-family: "Barlow", sans-serif;
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 11vw;
  height: 5vh;
}
.sect2 .sect2_all .sect2_block2_all .sect2_block2_text .sect2_block2_text5 {
  font-size: 1.375rem;
  font-family: "Barlow", sans-serif;
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 7vw;
  height: 5vh;
}
.sect2 .sect2_all .sect2_block3 {
  display: flex;
  flex-direction: row;
  gap: 0.7vw;
}
.sect2 .sect2_all .sect2_block3 .sect2_block3_button1 {
  font-size: 1.13rem;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  width: 7.5vw;
  height: 6.25vh;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: rgba(36, 36, 36, 0.2);
  backdrop-filter: blur(12px);
  border: 1px rgb(38, 38, 38) solid;
}
.sect2 .sect2_all .sect2_block3 .sect2_block3_button2 {
  font-size: 1.13rem;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  width: 7.5vw;
  height: 6.25vh;
  border-radius: 8px;
  background-color: #9EFF00;
  border: none;
  cursor: pointer;
}

.sect3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1A1A1A;
  height: 15vh;
}
.sect3 .sect3_block_all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  color: #FDFFFA;
  font-weight: 500;
}
.sect3 .sect3_block_all .sect3_all {
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px rgb(38, 38, 38) solid;
  position: absolute;
  bottom: 80px;
  height: 6.6vh;
  width: 15vw;
}
.sect3 .sect3_block_all .sect3_block2 {
  display: flex;
  gap: 1.5vw;
}

.sect5 {
  width: 100vw;
  height: 89vh;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sect5 .sect5_all {
  width: 78.2vw;
  height: 33vh;
  background-image: url(./assets/sect4.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sect5 .sect5_all .sect5_block1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.4vh;
}
.sect5 .sect5_all .sect5_block1 .sect5_block1_p1 {
  font-family: "Barlow", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}
.sect5 .sect5_all .sect5_block1 .sect5_block1_p2 {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: #E6E6E6;
}
.sect5 .sect5_block2 {
  width: 100vw;
  height: 56vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.sect5 .sect5_block2 .sect5_block2_wh {
  display: flex;
  flex-direction: row;
  width: 78.2vw;
}
.sect5 .sect5_block2 .sect5_block2_wh .sect5_card {
  width: 26vw;
  height: 56vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: white;
  border: 1px solid #262626;
}
.sect5 .sect5_block2 .sect5_block2_wh .sect5_card .sect5_card_wh {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 80%;
  height: 85%;
}
.sect5 .sect5_block2 .sect5_block2_wh .sect5_card .sect5_card_wh .sec5_card_mid {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 25vh;
}
.sect5 .sect5_block2 .sect5_block2_wh .sect5_card .sect5_card_wh .sec5_card_mid .sect5_p1 {
  font-family: "Barlow", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
}
.sect5 .sect5_block2 .sect5_block2_wh .sect5_card .sect5_card_wh .sec5_card_mid .sect5_p2 {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  line-height: 24px;
  color: #E6E6E6;
}
.sect5 .sect5_block2 .sect5_block2_wh .sect5_card .sect5_card_wh .sect5_button {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  width: 100%;
  height: 6vh;
  color: #ffffff;
  border: 0;
  background-color: #262626;
  border-radius: 8px;
  cursor: pointer;
}

.sect6 {
  width: 100vw;
  height: 107vh;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sect6 .sect6_all {
  width: 78.2vw;
  height: 33vh;
  background-image: url(./assets/sect6.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sect6 .sect6_all .sect6_block1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.4vh;
}
.sect6 .sect6_all .sect6_block1 .sect6_block1_p1 {
  font-family: "Barlow", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}
.sect6 .sect6_all .sect6_block1 .sect6_block1_p2 {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: #E6E6E6;
}
.sect6 .sect6_block2 {
  width: 100vw;
  height: 74vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.sect6 .sect6_block2 .sect6_block2_wh {
  display: flex;
  flex-direction: row;
  width: 78.2vw;
  flex-wrap: wrap;
}
.sect6 .sect6_block2 .sect6_block2_wh .sect6_card {
  width: 39vw;
  height: 37vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: white;
  border: 1px solid #262626;
}
.sect6 .sect6_block2 .sect6_block2_wh .sect6_card .sect6_card_wh {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 85%;
  height: 55%;
}
.sect6 .sect6_block2 .sect6_block2_wh .sect6_card .sect6_card_wh .sect6_card_gap1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}
.sect6 .sect6_block2 .sect6_block2_wh .sect6_card .sect6_card_wh .sect6_card_gap1 .sect6_p1 {
  font-family: "Barlow", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
}
.sect6 .sect6_block2 .sect6_block2_wh .sect6_card .sect6_card_wh .sect6_p2 {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  line-height: 150%;
  color: #E6E6E6;
  width: 83%;
}

.testimonials_sect {
  width: 100vw;
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials_sect .testimonials_header {
  width: 78.2vw;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vh;
  background-image: url(./assets/sect6.png);
  background-position: center;
  background-repeat: no-repeat;
}
.testimonials_sect .testimonials_header .title {
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}
.testimonials_sect .testimonials_header .subtitle {
  color: #E6E6E6;
  font-size: 1.125rem;
  line-height: 150%;
  width: 58%;
}
.testimonials_sect .testimonials_grid {
  width: 78.2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #2a2a2a;
  gap: 1px;
  border: 1px solid #2a2a2a;
}
.testimonials_sect .testimonials_grid .testi_card {
  background-color: #181818;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .text_block {
  display: flex;
  flex-direction: column;
  gap: 2.4vh;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .text_block .testi_title {
  font-family: "Barlow", sans-serif;
  color: #D8FF99;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 150%;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .text_block .testi_text {
  font-family: "Barlow", sans-serif;
  color: #E6E6E6;
  font-size: 1.125rem;
  line-height: 150%;
  width: 92%;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .testi_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .testi_footer .user_info {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .testi_footer .user_info img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .testi_footer .user_info .user_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vh;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .testi_footer .user_info .user_details .user_name {
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .testi_footer .user_info .user_details .user_role {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: #E6E6E6;
}
.testimonials_sect .testimonials_grid .testi_card .card_inner .testi_footer .open_btn {
  background-color: #262626;
  color: #ffffff;
  border: 1px solid #262626;
  border-radius: 8px;
  width: 7.29vw;
  height: 6.2vh;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sect7 {
  width: 100vw;
  height: 107vh;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sect7 .sect7_all {
  width: 78.2vw;
  height: 33vh;
  background-image: url(./assets/sect9.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sect7 .sect7_all .sect7_block1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.4vh;
}
.sect7 .sect7_all .sect7_block1 .sect7_block1_p1 {
  font-family: "Barlow", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}
.sect7 .sect7_all .sect7_block1 .sect7_block1_p2 {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: #E6E6E6;
}/*# sourceMappingURL=style.css.map */